$background: #fffdce;
$shadow: #573102; 
$card: #f5f5f5;
$lightgr: #d3f969;
$orange: #fdb55d;
$yellow: #e7e14d;
$green:#b2d05e;
$darkor:#c26f0a;
$darkgr:#819744;
$darkyel:#b5af03;
$lightor:#ffd4a0;
$lightyel:#f6f3a2;