$background: #fffdce;
$shadow: #573102; 
$card: #f5f5f5;


$lightgr: #d3f969;
$green:#b2d05e;
$darkgr:#819744;

$lightyel:#f6f3a2;
$yellow: #e7e14d;
$darkyel:#b5af03;


$lightor:#ffd4a0;
$orange: #fdb55d;
$darkor:#c26f0a;