@import '../utils/variables.scss';



.bigGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 20px;
    padding-top: 30px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}